body{
    background-image: url(../../IMAGES/backgrounds/cinema_public.jpg);
    background-size: cover;
    background-color: darkgray;
    font-family: inherit;
    font-size:50px;
    color: bisque;
}
div{
    margin-bottom: 20px;
    margin-left: 40px;
    
}
input{
    border-radius: 8px;
    padding: inherit;
    width: 500px;
    height: 40px;
    align-content: center;
}
table{
    margin-top: 100px;
    margin-left: 300px;
    text-align: left;
    font-size: 25px;
}
    button{
        border-radius: 10px;
        float: right;
        margin-right: 375px;
        width: 150px;
        height: 35px;
        margin-top: 15px;
    }
